*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header{
    width: 100%;
    height: 100vh;
    background: url(../images/background.png);
    background-size: cover;
}
.container{
    padding:50px 400px;
}
.select{
    display: flex;
}
.top img{
    margin: 0 90px;
}
.top h1{
    margin:20px 50px;
    color:white;
    font-style:oblique;
}
.top h1 span{
    font-size: 50px;
    color: rgb(222, 31, 31);
}
.box{
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg,rgb(110, 138, 229),aqua);
    color:white;
    border-radius:10px;
    margin: 20px;
    border: 5px solid #0c2a7a;
    text-align: center;
}
.box label{
    font-size: 30px;
    color:rgb(46, 41, 41);
}
.box input{
    width: 40px;
    height: 40px;
}
.container input[type="text"]{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 21px;
    background: linear-gradient(45deg, #871111, transparent);
    text-align: center;
    font-size: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 20px;
    color:wheat;
}
.btn button{
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    color: #4552ad;
    background: #a8def7;
    height: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#enterMoney {
    width: 150px;
    display: block;
    margin: 30px 70px;
    background: #a8def7;
    font-size: 20px;
    color: #871111;
}
.kq{
    color: white;
    font-size: 50px;
    margin: 0 100px;
}
.content{
    color: #6e6ecc;
    font-size: 30px;
    margin: 20px 75px;
}